[submodule "writermortis_server"]
	path = writermortis_server
	url = https://github.com/jasonblanchard/writermortis_server
[submodule "writermortis_client"]
	path = writermortis_client
	url = https://github.com/jasonblanchard/writermortis_client
[submodule "writermortis_realtime"]
	path = writermortis_realtime
	url = https://github.com/jasonblanchard/writermortis_realtime
